<% if (totalPages > 1) { %>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item"><a class="page-link"
                <%= (Number(currentPage) > 0) ? `href=?page=${Number(currentPage) - 1}` : 'disable' %>>Previous</a>
        </li>

        <% for( let index = 0; index < totalPages; index++ ) { %>
        <li class="page-item <%= currentPage == index ? "active" : "" %>"><a class="page-link"
                href="?page=<%= index %>"><%= index + 1 %></a></li>
        <% } %>

        <li class="page-item"><a class="page-link"
                <%= (totalPages == (Number(currentPage) + 1)) ? "disable" : `href=?page=${Number(currentPage) + 1}` %>>Next</a>
        </li>
    </ul>
</nav>
<% } %>